<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>TalentFlow Human Resources Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/company-manager/img/logofav.png" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/company-manager/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/company-manager/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/company-manager/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/company-manager/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/company-manager/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/company-manager/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/company-manager/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/company-manager/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a class="logo d-flex align-items-center" asp-area="CompanyManager" asp-controller="MainPage" asp-action="Index">
                <img src="~/company-manager/img/logo.png" alt="">
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->
        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img class="rounded-circle" src="data:image/jpeg;base64,@ViewData["Photo"]" alt="User Image" width="36" height="36" style="max-width: 100%; max-height: 100%;" />
                        <span class="d-none d-md-block dropdown-toggle ps-2">@ViewData["Person"]</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>@ViewData["Person"]</h6>
                            <span>@ViewData["Occupation"]</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" asp-area="CompanyManager" asp-route-id="@ViewData["Id"]" asp-controller="MainPage" asp-action="Index">
                                <i class="bi bi-person"></i>
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" asp-area="CompanyManager" asp-route-id="@ViewData["Id"]" asp-controller="MainPage" asp-action="Edit">
                                <i class="bi bi-gear"></i>
                                <span>Profile Edit</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" asp-area="CompanyManager" asp-route-id="@ViewData["Id"]" asp-controller="MainPage" asp-action="Details">
                                <i class="bi bi-question-circle"></i>
                                <span>Profile Details</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>

                            <i class="bi bi-box-arrow-right"></i>
                            <form class="d-inline" asp-area="Identity" asp-controller="Account" asp-action="Logout">
                                <button type="submit" class="btn text-white" style="color:white; font-size:larger">SignOut</button>
                            </form>

                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->

    <main id="main" class="main">
        @RenderBody()
        @*<a class="nav-link text-dark" asp-area="CompanyManager" asp-controller="MainPage" asp-action="Index">Login</a>*@
    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>TalentFlow Group</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <strong>TalentFlow Group</strong>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/company-manager/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/company-manager/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/company-manager/vendor/chart.js/chart.umd.js"></script>
    <script src="~/company-manager/vendor/echarts/echarts.min.js"></script>
    <script src="~/company-manager/vendor/quill/quill.min.js"></script>
    <script src="~/company-manager/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/company-manager/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/company-manager/vendor/php-email-form/validate.js"></script>
    <!-- Template Main JS File -->
    <script src="~/company-manager/js/main.js"></script>

    @await RenderSectionAsync("Scripts", false)

</body>

</html>